.dropdown-menu {
  max-height: 200px;
  max-width: 100px;
  overflow-y: auto;
  white-space: nowrap;
  right: 0;
  left: unset;
}

.dropdown-item {
  padding: 0.5rem 1rem; /* Adjust the padding as needed */
  margin: 0; /* Remove any margin */
}
